.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-bottom: 1px solid rgb(221, 203, 203);
  padding: 30px 0;

}

.about-me-container h1 {
  width: 20%;
  text-align: center;
  border-bottom: 1px solid rgb(221, 203, 203);
  padding: 20px 0;
  margin-bottom: 35px
}
.about-me-container a {
  text-decoration: underline;
}
.about-me-container h2 {
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
  font-size: 20px
}
.about-me-container h3 {
  text-align: center;
  font-size: 15px
}
.about-me-container span {
  text-decoration: underline;
}
