.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(39, 44, 49);
  padding-bottom: 30px;
}

.contact-inner-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;

@media screen and (max-width: 1099px) {
  flex-direction: column;
  width: auto
  }
}

.contact-inner-container h2 {
  margin: 0;
  font-size: 20px;
  color: rgb(221, 203, 203);
    
  @media screen and (max-width: 449px) {
    font-size: 16px
  }
}

.email-contact-box {
  display: flex; 
  align-items: center;
  position: relative;
}
.email-contact-box:hover {
  transform: scale(1.1);

  @media screen and (max-width: 1099px) {
    transform: none
  }
}

#copy-button {
  width: 10px;
  left: 101%;
  padding-bottom: 10px;
  filter: brightness(75%);
  color: rgb(255, 255, 255);
  font-size: 13px;
  position: absolute;

  @media screen and (max-width: 1099px) {
    left: 88%;
  }

  @media screen and (max-width: 449px) {
    font-size: 12px
  }
}

#copy-button:hover {
 cursor:pointer
}

.linked-in-contact-box, .github-contact-box {
  display: flex; 
  cursor: pointer;
  align-items: center;
}

.linked-in-contact-box{

  @media screen and (max-width: 1099px) {
      padding: 5px 0
    }
}

.linked-in-contact-box:hover, .github-contact-box:hover {
transform: scale(1.1);

  @media screen and (max-width: 1099px) {
    transform: none
  }
}
