.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container h1 {
  text-align: center;
  border-bottom: 1px solid white;
  width: 22%;
  padding-bottom: 2%;
  margin: 5%
}

.experience-container h3 {
  width: 70%;
  padding-bottom: 5%;
  border-bottom: 1px solid white;
}

.experience-container img {
  height: 150px
}
