.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  position: relative;
  justify-content: center;
  // height: 100%;
  align-items: center;
  transform: scale(0.92);

    @media screen and (max-width: 449px) {
      // height: 100%
    }
}

.image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;

  @media screen and (max-width: 449px) {
  }
}

.right-arrow {
  position: absolute;
  // top: 50%;
  right: 5%;
  font-size: 3rem;
  color: #ffffff62;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  // top: 50%;
  left: 5%;
  font-size: 3rem;
  color: #ffffff62;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
