body{
  font-family: 'Roboto', sans-serif;
}

// @media only screen and (min-width: 1140px) {
.firstAndLastName h1 {
font-size: 200px;
margin: 10px;
}

.firstAndLastName h2 {
  font-size: 40px;
}

.firstname {
  display: flex;
  align-items: baseline;
}

.firstAndLastName {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profileImage {
  border-radius: 80%;
  width: 600px;
  filter: brightness(80%);
  margin: 2%;
  box-shadow: 0 0 10px 10px rgba(26, 27, 26, 0.3);
}


.profile-container {
  display: flex;
  align-items: center;
}

.profile-text h3 {
  font-size: 30px;
    padding-bottom: 30px;
}

.profile-text h4 {
    font-size: 20px;
    padding-bottom: 20%;
}




// }





// @media only screen and (max-width: 815px) {
// h1 {
// font-size: 80px;
// margin: 2rem;
// }

// h2 {
//   font-size: 30px;
// }

// .firstAndLastName {
//   display: flex;
//   align-items: flex-start;
// }

// }

// @media only screen and (max-width: 415px) {

// h1 {
// font-size: 65px;
// margin: 0.5rem;
// }

// h2 {
// font-size: 15px;
// padding-left: 5px;
// }

// .firstAndLastName {
//   display: flex;
//   align-items: flex-start;

// }
// .profileImage {
//   border-radius: 80%;
//   width: 380px;
//   filter: brightness(80%);
//   margin: 10px;
// }

// }