.projects-container {
  // background-color: rgba(36, 61, 79, 0.871); 
  // box-shadow: 0 0 10px 10px rgba(34, 35, 34, 0.3);
  font-family: 'Questrial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  margin: 1%;
  border-bottom: 1px solid white
}

.project-legend {
  font-size:25px;
  padding: 10px 10px
}

.project-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.projects-container h1 {
  width: 22%;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 2%;
  margin: 5%;
}

.project-box a {
text-decoration: underline;}

.project {
  text-align: center;
  width: 50%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project4-box {
  grid-column: 1 / 2;
  grid-row: 1;
}

#project3-box {
  grid-column: 2 / 2;
  grid-row: 1;
}

.project h4 {
  text-align:left;
  width: 100%;
  padding-left: 10%;
}

.project img {
width: 500px;
  border-radius: 2%;
  background-size: cover;
  box-shadow: 2px 2px 5px black;
}