.skills-container {
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1% 0 1%;
}

.skills-container h1 {
  width: 22%;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 2%;
  margin: 5%;
  
}

.skills-container h2 {
  color: black;
}
.icons-container img {
  z-index: 0;
  width: 55px;
  filter:brightness(0%);
  margin: 1%;
}

.icons-container img:hover {
  transform: scale(1.1);
  transition: all .2s;
  cursor: pointer;;
}
.icons-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.icon-section{
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 600px
}
#cloudinary {
  width: 70px
}
#mongodb {
  width: 30px
}
#git {
  width: 80px
}

#bulma {
  width: 80px
}


