.skills-container {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1% 0 1%;
  border-bottom: 1px solid white;
}

.skills-container h1 {
  width: 22%;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 2%;
  margin: 5%;

  
}

.skills-container h2 {
  color: black;
}
.icons-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.icons-container img {
  z-index: 0;
  width: 55px;
  filter:brightness(0%);
  margin: 1%;
  margin: 0 5px;
}

.icons-container img:hover {
  transform: scale(1.1);
  transition: all .2s;
  cursor: pointer;
}

.icon-section{
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  
}
#cloudinary {
  width: 65px
}
#mongodb {
  width: 30px
}
#git {
  width: 80px
}

// #bulma {
//   width: 80px
// }

.icon-text {
  opacity: 0;
  color: black;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-section :hover .icon-text {
  opacity: 1;
}
