@import '_Navbar';
@import '_MainPage';
@import '_Projects';
@import '_Experience';
@import '_AboutMe';
@import '_ImageSlider';
@import '_Contact';
@import '_Skills';

body {
  background-color: rgb(41, 61, 74);
  // background: linear-gradient(0deg, rgba(23, 38, 61, 0.998), rgb(34, 40, 65) 40%, rgb(33, 36, 50));
  color: rgb(221, 203, 203);
  margin: 0;
  box-sizing: border-box;
  max-width: 1200px;
}


a:visited {
  color: rgb(221, 203, 203);
}
